.reviews {
  display: flex;
  flex-direction: column;
  background: rgba(250, 250, 250, 1);
  max-width: 1440px;
  box-sizing: border-box;
  align-items: center;
  padding: 0 150px;
  padding-top: 132px;
  padding-bottom: 152px;
}
  .reviews__background {
    position: relative;
    display: flex;
    max-width: 1090px;
    width: 100%;
    min-height: 350px;
    background: #8550f2;
    border-radius: 8px;
    background-size: cover;
    padding-right: 24px;
    padding-left: 24px;
  }

  .reviews__photo {
    display: flex;
    position: absolute;
    top: -60px;
    left: 74px;
    background: url('./images/picture.png') no-repeat;
    max-width: 360px;
    width: 100%;
    height: 470px;
    z-index: 1;
    background-size: cover;
  }

  .reviews__text {
    position: absolute;
    top: 98px;
    left: 464px;
    font-family: 'Raleway', Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 135%;
    color: #f0f0f0;
  }

  .reviews__caption-container {
    position: absolute;
    top: 274px;
    left: 464px;
  }

  .reviews__caption-name {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #f0f0f0;
    margin: 0;
  }

  .reviews__caption-profession {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #dadada;
    margin: 0;
  }

@media screen and (max-width: 1300px) {
  .reviews {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1000px) {
     .reviews__background {
      max-width: 672px;
      width: 100%;
      min-height: 350px;
      padding-top: 140px;
      padding-bottom: 180px;
    }
    .reviews__photo {
      top: -32px;
      left: 38px;
      max-width: 165px;
      width: 100%;
      height: 214px;
      z-index: 1;
    }

    .reviews__text {
      position: absolute;
      top: 88px;
      left: 223px;
    }

    .reviews__caption-container {
      top: 206px;
      left: 38px;
    }
  }

@media screen and (max-width: 650px) {
     .reviews__background {
      max-width: 310px;
      width: 100%;
      min-height: 402px;
      padding-top: 126px;
      padding-bottom: 80px;
    }
    .reviews__photo {
      top: -46px;
      transform: translate(-50%, 0);
      left: 50%;
      max-width: 92px;
      width: 100%;
      height: 92px;
      z-index: 1;
      border-radius: 46px;
      background-size: contain;
      background: url('./images/man-pic.png') no-repeat;
    }

    .reviews__text {
      position: absolute;
      top: 48px;
      left: 42px;
      font-weight: 600;
      font-size: 18px;
      line-height: 135%;
      width: 228px;
    }

    .reviews__caption-container {
      max-width: 124px;
      width: 100%;
      min-height: 56px;
      top: 330px;
      left: 48px;
    }
    .reviews__caption-name {
      font-size: 14px;
      line-height: 16px;
    }
    .reviews__caption-profession {
      font-size: 14px;
      line-height: 18px;
    }
  }
