.auditorInfo {
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: 720px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 152px;
  padding-bottom: 19px;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
}
  .auditorInfo__text-container {
    max-width: 414px;
  }

  .auditorInfo__subtitle {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-image: linear-gradient(135deg, #8550f2, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .auditorInfo__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 110%;
    color: rgba(240, 240, 240, 1);
    margin-top: 0;
    margin-bottom: 40px;
  }

  .auditorInfo__text {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(218, 218, 218, 1);
    margin-top: 0;
    margin-bottom: 44px;
  }

  .auditorInfo__animation {
    display: flex;
    max-width: 652px;
    width: 100%;
    min-height: 550px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background: url('./images/first_screen.gif') no-repeat;
    background-position: center bottom;
  }

@media screen and (max-width: 1300px) {
  .auditorInfo {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 980px) {
  .auditorInfo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 19px;
  }
    .auditorInfo__text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      margin-bottom: 16px;
    }

    .auditorInfo__title {
      margin-bottom: 40px;
    }

    .auditorInfo__subtitle {
      margin-bottom: 8px;
    }

    .auditorInfo__text {
      margin-bottom: 40px;
    }
    .auditorInfo__animation {
      max-width: 596px;
      width: 100%;
      min-height: 490px;
      background-position: center;
    }
  }

@media screen and (max-width: 650px) {
  .auditorInfo {
    padding-left: 12px;
    padding-right: 12px;
    justify-content: flex-start;
    padding-top: 104px;
    padding-bottom: 44px;
  }
    .auditorInfo__text-container {
      padding-top: 0;
    }

    .auditorInfo__title {
      font-size: 36px;
      line-height: 110%;
      margin-bottom: 32px;
    }

    .auditorInfo__subtitle {
      font-size: 16px;
      line-height: 19px;
    }

    .auditorInfo__text {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 32px;
    }

    .auditorInfo__text-container {
      margin-bottom: 8px;
    }
    .auditorInfo__animation {
      max-width: 352px;
      width: 100%;
      min-height: 289px;
      background-size: cover;
      background-position: center center;
    }
  }
