.auditorInfo {
  display: flex;
  width: 100%;
  min-height: 800px;
  padding-left: 150px;
  padding-right: 150px;
  // padding-top: 152px;
  padding-top: 232px;
  padding-bottom: 32px;
  justify-content: space-around;
  margin: 0;
  &_hide {
    // display: none;
    visibility: hidden;
  }
  &_start {
    display: flex;
    visibility: visible;
  }
  &__container {
    display: flex;
    max-width: 1140px;
    width: 100%;
    justify-content: space-between;
  }
  &__text-container {
    max-width: 414px;
    height: 303px;
  }

  &__subtitle {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-image: linear-gradient(5deg, #8550f2, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 110%;
    color: rgba(240, 240, 240, 1);
    margin-top: 0;
    margin-bottom: 40px;
  }

  &__text {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(218, 218, 218, 1);
    margin-top: 0;
    margin-bottom: 40px;
  }

  &__animation {
    display: flex;
    max-width: 652px;
    width: 100%;
    height: 536px;
    background: url('./images/first_screen.gif') no-repeat;
    background-position: center -170px;
  }
}

@media screen and (max-width: 1300px) {
  .auditorInfo {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 112px;
    padding-bottom: 19px;
    min-height: 1024px;
    &__container {
      flex-direction: column;
      // justify-content: flex-start;
      justify-content: flex-end;
      align-items: center;
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      margin-bottom: 16px;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__subtitle {
      margin-bottom: 8px;
    }

    &__text {
      margin-bottom: 40px;
    }
    &__animation {
      max-width: 596px;
      width: 100%;
      height: 490px;
      background-position: center -130px;
    }
  }
}

@media screen and (max-width: 650px) {
  .auditorInfo {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 176px;
    padding-bottom: 44px;
    min-height: 812px;

    &__text-container {
      padding-top: 0;
      height: auto;
    }

    &__title {
      font-size: 36px;
      line-height: 110%;
      margin-bottom: 32px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 19px;
    }

    &__text {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 32px;
    }

    &__text-container {
      margin-bottom: 8px;
    }
    &__animation {
      max-width: 352px;
      width: 100%;
      height: 289px;
      background-size: cover;
      background-position: center -50px;
    }
  }
}

@media screen and (max-width: 450px) {
  .auditorInfo {
    &__text-container {
      max-width: 291px;
    }
  }
}
