.footer {
  display: flex;
  background: #fafafa;
  max-width: 1440px;
  width: 100%;
  min-height: 88px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 150px;
  padding-right: 0;
  align-items: center;
  box-sizing: border-box;
  z-index: 100;
}
  .footer__logo {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #121016;
    margin: 0;
  }
  .footer__social-icons {
    display: flex;
    max-width: 593px;
    width: 100%;
    justify-content: space-between;
  }
  .footer__icons-container {
    display: flex;
    max-width: 112px;
    width: 100%;
    gap: 16.48px;
    margin-right: 64px;
  }

  .footer__facebook-icon {
    display: flex;
    max-width: 24px;
    width: 100%;
    min-height: 24px;
    background: url('./images/facebook.png') center no-repeat;
  }
  .footer__vk-icon {
    display: flex;
    max-width: 24px;
    width: 100%;
    min-height: 24px;
    background: url('./images/vk.png') center no-repeat;
  }
  .footer__classmates-icon {
    display: flex;
    max-width: 24px;
    width: 100%;
    min-height: 24px;
    background: url('./images/classmates.png') center no-repeat;
  }
  .footer__contacts-container {
    display: flex;
    max-width: 438px;
    width: 100%;
    justify-content: space-between;
  }
  .footer__phone {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #121016;
  }

  .footer__email {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #121016;
  }

@media screen and (max-width: 1300px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    justify-content: flex-start;
  }
    .footer__social-icons {
      max-width: 283px;
    }
    .footer__logo {
      margin-right: 13px;
    }
    .footer__contacts-container {
      max-width: 389px;
      justify-content: flex-start;
    }
    .footer__phone {
      margin-right: 40px;
    }
  }

@media screen and (max-width: 720px) {
  .footer {
    justify-content: space-between;
  }
    .footer__social-icons {
      flex-direction: column;
    }
    .footer__logo {
      margin-bottom: 16px;
    }
    .footer__contacts-container {
      flex-direction: column;
    }
    .footer__phone {
      margin-bottom: 16px;
    }
  }

@media screen and (max-width: 500px) {
  .footer {
    padding-left: 12px;
    padding-right: 12px;
  }
    .footer__logo {
      font-size: 16px;
      line-height: 19px;
    }
    .footer__phone {
      font-size: 14px;
      line-height: 17px;
    }

    .footer__email {
      font-size: 14px;
      line-height: 17px;
    }
  }
