.prices {
  display: flex;
  flex-direction: column;
  background: rgba(250, 250, 250, 1);
  max-width: 1440px;
  align-items: center;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 72px;
  padding-bottom: 152px;
  box-sizing: border-box;
}
.prices__corporate-container {
  align-items: center;
  justify-content: center;
}

.prices__individuals-container {
  align-items: center;
  justify-content: center;
}

.prices__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #121016;
  margin-bottom: 8px;
}

.prices__title_individuals {
  margin-top: 56px;
  margin-bottom: 40px;
}

.prices__caption {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #8550f2;
  margin-top: 0;
  margin-bottom: 40px;
}

.prices__container {
  display: flex;
  column-gap: 30px;
}

.prices__container_wrap {
  display: none;
}

@media screen and (max-width: 1200px) {
  .prices {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .prices__container {
    display: flex;
    column-gap: 20px;
    .prices_individuals {
      display: none;
    }
    .prices_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
    }
  }
}

@media screen and (max-width: 721px) {
  .prices__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    column-gap: 0px;
    align-items: center;
    .prices_individuals {
      display: flex;
    }
    .prices_wrap {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .prices {
    padding-bottom: 40px;
  }
  .prices__title {
    font-size: 18px;
    line-height: 21px;
  }
  .prices__title_individuals {
    margin-top: 39.45px;
    margin-bottom: 24px;
  }
  .prices__caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;
  }
}
